<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <div class="slide">
        <img src="./slide-1.png"/>
        <h2>Are you sure that you are a father of your kid?</h2>
        <p>Check it today!</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="./slide-2.png"/>
      <h2>What is Paternity Tester?</h2>
      <p><b>Paternity Tester</b> is an app which will help you check your paternity with a few simple tests.</p>
    </ion-slide>

    <ion-slide>
      <img src="./slide-3.png"/>
      <h2>Why it is working?</h2>
      <p><b>Paternity Tester</b> is working because it base on science. For example if you have a blood from group 0 and your wife have a group A, then your kid can't have group B or AB. But this test can be done only if kid is older then 2 years old, because his blood group can change in time in first 2 years of his live. Inheritance is a very complicated process, but there are many "standard" things that are working always in the same way.
    </ion-slide>

    <ion-slide>
      <img src="./slide-4.png"/>
      <h2>Ready to start?</h2>
      <ion-button fill="clear" (click)="navigateToMenu()">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
