<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <div class="slide">
        <img src="./assets/undraw_Questions_re_1fy7.png" style="height: 30vh;"/>
        <h2>Are you sure that you are a father of your kid?</h2>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="./assets/undraw_To_do_list_re_9nt7.png" style="height: 30vh;"/>
      <h2>What is Paternity Test?</h2>
      <p *ngIf="authService.googleTesterLogged"><b>Paternity Test</b> is an app which is trying to predict if you are a father. It's only for fun!</p>
      <p *ngIf="!authService.googleTesterLogged"><b>Paternity Test</b> is an app which will help you check your paternity with a few simple tests.</p>
    </ion-slide>

    <ion-slide>
      <img src="./assets/undraw_play_time_7k7b.png" style="height: 30vh;"/>
      <h2 *ngIf="authService.googleTesterLogged">Remember that this app should be use only for fun!</h2>
      <h2 *ngIf="!authService.googleTesterLogged">Why it is working?</h2>
      <p *ngIf="!authService.googleTesterLogged"><b>Paternity Test</b> is working because it base on science. Inheritance is a very complicated process, but there are many "standard" things that are working always in the same way.
    </ion-slide>

    <ion-slide>
      <img src="./assets/undraw_fatherhood_7i19.png" style="height: 30vh;"/>
      <h2>Ready to start?</h2>
      <ion-button (click)="navigateToLogin()">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
