<ion-header>
  <ion-toolbar class="centered-toolbar">
    <ion-title class="centered-title" size="small">Paternity Test</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title>Kids</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngIf="emptyList" class="content">
    <h5>Welcome to Paternity Test. For now you do not have any kids for test purposes. Click an ADD button to create a first one. You can check yours, your friends or your family members paternity.</h5>
    <img src="./assets/undraw_selection_re_ycpo.png" style="height: 30vh; margin: 0 auto;"/>
  </div>

  <ion-card *ngFor="let kid of kids$ | async">
    <ion-card-header>
      <ion-card-title>
        {{kid.name}}
        <span class="edit-button">
          <ion-icon (click)="openModal(kid)" name="create-outline"></ion-icon>
        </span>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Gender</ion-label>
          <ion-note slot="end">{{kid.gender}}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Date of birth</ion-label>
          <ion-note slot="end">{{kid.dateOfBirth}}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Current match</ion-label>
          <ion-note slot="end"><span color="danger">{{kid.summary}}%</span></ion-note>
        </ion-item>
      </ion-list>
      <ion-button expand="block" [routerLink]="['/menu/details', kid.id]">Details</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="openModal(null)">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
