<ion-header>
  <ion-toolbar class="centered-toolbar">
    <ion-title class="centered-title" size="small">Paternity Tester</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title>Create account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <form [formGroup]="form" (ngSubmit)="send()">

      <ion-row>
        <ion-col>
          <ion-item lines="full" class="input-big">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item lines="full" class="input-big">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button type="submit" [disabled]="!form.valid" expand="block">Register</ion-button>
        </ion-col>
      </ion-row>
    </form>
    <br /><br />
    <small>By creating an account, you confirm that you have read and agree with our <a href="https://sites.google.com/view/paternitytester/strona-główna">privacy policy</a>.</small>
  </div>
</ion-content>
