<div *ngIf="kid">
  <ion-header>
    <ion-toolbar class="centered-toolbar">
      <ion-title class="centered-title" size="small">Paternity Tester</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button [defaultHref]="'/menu'" color="danger"></ion-back-button>
      </ion-buttons>
      <ion-title>{{kid.name}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">

    <ion-card>
      <ion-card-header>
        <ion-card-title><span [style.color]="kid.summary == 0 ? 'red': 'black'">{{kid.summary}}%</span> of chance that you are {{kid.name}}'s father</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        What type of test you wanna do?
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-item [routerLink]="['/menu/details', kid.id, 'eye-color-test']">
        <ion-icon name="eye-outline" slot="start"></ion-icon>
        <ion-label>Eye color test <span *ngIf="kid.tests.eyeColorTest" [style.color]="kid.tests.eyeColorTest.summary == 0 ? 'red': 'black'">({{kid.tests.eyeColorTest.summary}}%)</span></ion-label>
      </ion-item>

      <ion-item [routerLink]="['/menu/details', kid.id, 'hair-color-test']">
        <ion-icon name="recording-outline" slot="start"></ion-icon>
        <ion-label>Hair color test <span *ngIf="kid.tests.hairColorTest" [style.color]="kid.tests.hairColorTest.summary == 0 ? 'red': 'black'">({{kid.tests.hairColorTest.summary}}%)</span></ion-label>
      </ion-item>

      <ion-item href="#">
        <ion-icon name="water-outline" slot="start"></ion-icon>
        <ion-label>Blood test</ion-label>
      </ion-item>

      <ion-item [routerLink]="['/menu/details', kid.id, 'peculiarities-test', 'peculiaritiesCleftChinTest']">
        <ion-icon name="invert-mode-outline" slot="start"></ion-icon>
        <ion-label>Cleft chin test <span *ngIf="kid.tests.peculiaritiesCleftChinTest" [style.color]="kid.tests.peculiaritiesCleftChinTest.summary == 0 ? 'red': 'black'">({{kid.tests.peculiaritiesCleftChinTest.summary}}%)</span></ion-label>
      </ion-item>

      <ion-item [routerLink]="['/menu/details', kid.id, 'peculiarities-test', 'peculiaritiesEarLobeTest']">
        <ion-icon name="invert-mode-outline" slot="start"></ion-icon>
        <ion-label>Ear lobe test <span *ngIf="kid.tests.peculiaritiesEarLobeTest" [style.color]="kid.tests.peculiaritiesEarLobeTest.summary == 0 ? 'red': 'black'">({{kid.tests.peculiaritiesEarLobeTest.summary}}%)</span></ion-label>
      </ion-item>

      <ion-item [routerLink]="['/menu/details', kid.id, 'peculiarities-test', 'peculiaritiesWidowsPeakTest']">
        <ion-icon name="invert-mode-outline" slot="start"></ion-icon>
        <ion-label>Widow's peak test <span *ngIf="kid.tests.peculiaritiesWidowsPeakTest" [style.color]="kid.tests.peculiaritiesWidowsPeakTest.summary == 0 ? 'red': 'black'">({{kid.tests.peculiaritiesWidowsPeakTest.summary}}%)</span></ion-label>
      </ion-item>

      <ion-item [routerLink]="['/menu/details', kid.id, 'peculiarities-test', 'peculiaritiesDimplesTest']">
        <ion-icon name="invert-mode-outline" slot="start"></ion-icon>
        <ion-label>Dimples test <span *ngIf="kid.tests.peculiaritiesDimplesTest" [style.color]="kid.tests.peculiaritiesDimplesTest.summary == 0 ? 'red': 'black'">({{kid.tests.peculiaritiesDimplesTest.summary}}%)</span></ion-label>
      </ion-item>

      <ion-item [routerLink]="['/menu/details', kid.id, 'peculiarities-test', 'peculiaritiesFrecklesTest']">
        <ion-icon name="invert-mode-outline" slot="start"></ion-icon>
        <ion-label>Freckles test <span *ngIf="kid.tests.peculiaritiesFrecklesTest" [style.color]="kid.tests.peculiaritiesFrecklesTest.summary == 0 ? 'red': 'black'">({{kid.tests.peculiaritiesFrecklesTest.summary}}%)</span></ion-label>
      </ion-item>

      <ion-item class="disabled" (click)="availableSoonToast()">
        <ion-icon name="male-female-outline" slot="start"></ion-icon>
        <ion-label>Chinese gender test</ion-label>
      </ion-item>

      <ion-item class="disabled" (click)="availableSoonToast()">
        <ion-icon name="scan-outline" slot="start"></ion-icon>
        <ion-label>Face shape test</ion-label>
      </ion-item>
    </ion-card>

  </ion-content>
</div>
