<ion-content>
  <div class="content">
    <ion-col>
      <ion-row>
        <img class="logo" src="./assets/logo.svg"/>
        <h1 class="appname">Paternity Tester</h1>
      </ion-row>
    </ion-col>
    <form>

      <ion-row>
        <ion-col>
          <ion-item class="input-big" lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" #email required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="input-big" lines="full">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" #password required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-button type="submit" (click)="login(email, password)" class="mt-1" expand="block">Login</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button
            type="submit"
            class="mt-1"
            [routerLink]="['/registration']"
            expand="block">
            <span class="ml-1">Create account</span>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button
            type="submit"
            class="mt-1"
            [routerLink]="['/forgot-password']"
            expand="block">
            <span class="ml-1">Forgot password</span>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button
           type="submit"
           color="danger"
           class="mt-1"
           (click)="authService.loginUsingGoogleAccount()"
           expand="block">
            <ion-icon name="logo-google"></ion-icon>
            <span class="ml-1">Login with Google</span>
          </ion-button>
        </ion-col>
      </ion-row>

    </form>
  </div>
</ion-content>
