<ion-header>
  <ion-toolbar>
    <ion-title size="small">Paternity Tester</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <ion-col>
      <ion-row>
        <img class="logo" src="./assets/logo.svg"/>
        <h1 class="appname">Paternity Tester</h1>
      </ion-row>
    </ion-col>
    <form>
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" #email required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" #password required></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
        <ion-button type="submit" (click)="logIn(email, password)" class="mt-1" expand="block">Login</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button
           type="submit"
           color="danger"
           class="mt-1"
           (click)="authService.GoogleAuth()"
           expand="block">
            <ion-icon name="logo-google"></ion-icon>
            <span class="ml-1">Login with Google</span>
          </ion-button>
        </ion-col>
      </ion-row>

    </form>
  </div>
</ion-content>
