<ion-header>
  <ion-toolbar>
    <ion-title size="small">Paternity Tester</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title>Reset your password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <form *ngIf="!resetPasswordLinkSent" [formGroup]="form" (ngSubmit)="send()">
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" [disabled]="!form.valid" expand="block">Send</ion-button>
        </ion-col>
      </ion-row>

      <small>
        Please provide email address that you used when you signed
        up for your Paternity Tester account.
      </small>
    </form>

    <ion-text *ngIf="resetPasswordLinkSent">
      <div class="content">
        <h3>Password reset email has been sent, please check your inbox.</h3>
      </div>
    </ion-text>
  </div>
</ion-content>

